html {
    font-size: 15px;
}

.login-box {
    background: #FFFFFF;
    border-color: #004785;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.2);
    margin-top: 7rem;
}

.login-title {
    background: #004785;
    color: #FFFFFF;
    font-size: 1.4rem;
    padding-bottom: 10px;
    padding-top: 10px;
}

.login-form {
    margin-bottom: 20px;
    margin-top: 20px;
}

.login-label {
    color: #004785;
    font-size: 1.2rem;
    padding-right: 15px;
    padding-top: 6px;
}

.login-btn {
    background: #0092C8;
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
