{% load i18n %}

<div class="container-fluid">

  {% block titlebar %}
    {% include "authplus/include/auth_titlebar.html" %}
  {% endblock titlebar %}

  <p>{% trans 'Password change successful' %}</p>

</div>
